#landing-section1 {
    position: relative;
    background-image: none;
    background-color: black;
}

#landing-section1 img {
    min-height: 500px;
    max-height: 600px;
}

#landing-section1 .content {
    position: absolute;
    top: 100px;
    left: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.64);
    padding-left: 2.0% !important;
}

#landing-section1 h1 {
    font-size: 3.0em;
    text-shadow: 0px 2px 3px black;
    margin-top: 0px;
    margin-bottom: 10px;
}

#landing-section1 h2 {
    font-size: 1.4em;
    text-shadow: 0px 2px 3px black;
}

#landing-btn,#landing-btn2 {
    background-color: #FFD54F;
    color: black;
    font-size: 1.4em
}
i.large{
    padding:15px;
	max-width: 200px;
}
#landing-section3,#landing-section5{
    
    background: url(../images/laptop.png) right bottom no-repeat;
    background-size: 600px;
    background-color: #f4f4f4;
    border-bottom-style: solid;
    border-color: #e2e0e0;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    
}
#landing-section5{
	background-image: none;
}


@media screen and (max-width: 992px) {
    #landing-section3{
        background-image: none;
    }
}
/*for tablet screens*/
@media screen and (max-width: 693px) {
    #landing-section1 .content {
        width: 100%;
    }
    #landing-section1 img {
        min-height: 400px;
    }
}
/*phone screens*/
@media screen and (max-width: 490px) {
    #landing-section1 h1 {
    font-size: 2.0em;
    text-shadow: 0px 2px 3px black;
    margin-top: 0px;
    margin-bottom: 10px;
}

#landing-section1 h2 {
    font-size: 1.2em;
    text-shadow: 0px 2px 3px black;
}
}
/*phone with little screens*/
@media screen and (max-width: 297px) {
    #landing-section1 h1 {
    font-size: 1.6em;
    text-shadow: 0px 2px 3px black;
    margin-top: 0px;
    margin-bottom: 10px;
}

#landing-section1 h2 {
    font-size: 1em;
    text-shadow: 0px 2px 3px black;
}
}