.main-logo {
	height: 80px;
	top: -10px;
	margin-bottom: -40px;
	position: relative;
}

#landing-section2,
#landing-section4 {
	background-color: white;
}

.landing-title {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.landing-btn {
	color: #1a237e;
	background-color: rgba(255, 255, 255, 1);
	padding-bottom: 40px;
	height: 85px;
	margin-bottom: 20px;
	margin-top: 30px;
	text-transform: none;
	transform: all .5s;
	border-radius: 10px;
}

.container-landing {
	padding-top: 60px;
}

.container-landing-1 {
	padding-top: 120px;
}

img.center-align {
	display: block;
	margin-left: auto;
	margin-right: auto
}

ul.landing {
	font-size: 1.2em;
}

ul.landing>li {
	list-style-type: circle !important;
	padding-bottom: 10px;
}

.btn.landing,
td .btn {
	background-color: #ffe082;
	color: #1a237e;
}

#landing-btn2:hover,
.btn.landing:hover,
td .btn:hover {
	background-color: #282828;
	color: white;
	border-radius: 2px;
}

#landing-btn:hover {
	color: #282828;
	background-color: white;
}

#landing-section1 {
	position: relative;
	background-image: none;
	background-color: black;
}

#landing-section1 img {
	min-height: 500px;
	max-height: 600px;
}

#landing-section1 .content {
	position: absolute;
	top: 13%;
	left: 0;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.64);
	padding-left: 2.0% !important;
}

#landing-section1 h1 {
	font-size: 3.0em;
	text-shadow: 0px 2px 3px black;
	margin-top: 0px;
	margin-bottom: 10px;
}

#landing-section1 h2 {
	font-size: 1.4em;
	text-shadow: 0px 2px 3px black;
}

#landing-btn,
#landing-btn2 {
	background-color: #FFD54F;
	color: black;
	font-size: 1.4em
}

i.large {
	padding: 15px;
	max-width: 200px;
}

#landing-section3,
#landing-section5 {
	background: url(../images/laptop.png) right bottom no-repeat;
	background-size: 600px;
	background-color: #f4f4f4;
	border-bottom-style: solid;
	border-color: #e2e0e0;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
}

#landing-section5 {
	background-image: none;
}

@media screen and (max-width: 992px) {
	#landing-section3 {
		background-image: none;
	}
}


/*for tablet screens*/

@media screen and (max-width: 693px) {
	#landing-section1 .content {
		width: 100%;
	}
	#landing-section1 img {
		min-height: 400px;
	}
}


/*phone screens*/

@media screen and (max-width: 490px) {
	#landing-section1 h1 {
		font-size: 2.0em;
		text-shadow: 0px 2px 3px black;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	#landing-section1 h2 {
		font-size: 1.2em;
		text-shadow: 0px 2px 3px black;
	}
}


/*phone with little screens*/

@media screen and (max-width: 305px) {
	#landing-section1 h1 {
		font-size: 1.6em;
		text-shadow: 0px 2px 3px black;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	#landing-section1 h2 {
		font-size: 1em;
		text-shadow: 0px 2px 3px black;
	}
}

td {
	padding-top: 10px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 2px;
}

thead {
	font-size: 1.7em;
}

thead.student,
thead.university {
	background-color: #fff8e1;
}

thead.profesional {
	background-color: #ffe082;
}

td.price,
td.price-month {
	padding-top: 0px;
	text-align: center;
	font-size: 0.8em;
}
table{
	margin-bottom: 20px;
	font-size: 1.1em;
}
td.price {
	padding-top: 10px;
	border-top-color: rgb(208, 208, 208);
	border-top-width: 1px;
	border-top-style: solid;
	font-size: 1.2em;
	padding-bottom: 0px;
}